###Data preprocessing
par(mfrow=c(3,2))
qqnorm(mydata[,1], main="Development tech-transefer")
qqline(mydata[,1])
qqnorm(mydata[,2], main="Production tech-transfer")
qqline(mydata[,2])
qqnorm(mydata[,3], main="Education & training")
qqline(mydata[,3])
qqnorm(mydata[,4], main="Organization doctrine & tactics")
qqline(mydata[,4])
qqnorm(mydata[,5], main="Recipient's R&D plan fitness")
qqline(mydata[,5])
qqnorm(mydata[,6], main="Engineers and scientists fitness")
qqline(mydata[,6])
attach(mydata)
mydata$techop<-t1+t2
mydata$knowledge<-t3+t4
mydata$absorcapa<-t5+t6
View(mydata)

###MANOVA
F1 <- factor(mydata[, 7])
X <- as.matrix(mydata[, 8:10])
fit <- manova(X~F1)
summary.manova(fit, test="Wilks")

##ANOVA
mydatafactor<-factor(mydata[,7])
mydatamatrix<-as.matrix(mydata[,8:10])
resul<-aov(mydatamatrix~mydatafactor)
summary(resul)

###Bonferroni
y<-mydata[,7]
y
y<-as.matrix(y)
z<-as.matrix(mydata[,8:10])
z
reg73<-lm(y~z)
summary(reg73)
plot(reg73)
attach(mydata)
library(dunn.test)
dunn.test(`t1`, g = status, method = "bonferroni",  kw=TRUE, label=TRUE, 
          wrap=FALSE, table=TRUE, list=FALSE, rmc=FALSE, alpha=0.05, altp=FALSE)
dunn.test(`t6`, g = status, method = "bonferroni",  kw=TRUE, label=TRUE, 
          wrap=FALSE, table=TRUE, list=FALSE, rmc=FALSE, alpha=0.05, altp=FALSE)
